{% extends "bootstrap/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime scraper</title>
</head>
<body>
{% block content %}
    <br>
    <div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-lg-offset-4">
                <form class="form-inline" method="POST" action="{{ url_for('render') }}">
                    <label>
                        <select name="show" class="form-control form-control-sm" onchange='this.form.submit()'>
                            <option value="{{ selected.name }}" selected>{{ selected.name }}</option>
                            {% for show in shows %}
                                <option value="{{ show.name }}">{{ show.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </form>
            </div>
        </div>
    </div>


    <br><br><br>

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-3">
                <img src="{{ selected.img }}" class="rounded" alt="No image available">
            </div>
            <div class="col-md-5">
                <h3><b>{{ selected.name }}</b></h3>
                <p>{{ selected.desc }}</p>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <form method="post" enctype="multipart/form-data" action="{{ url_for('render') }}">
                    <h4>Choose resolution</h4>
                    <div>
                        <label>
                            <input type="radio" name="resolution" value="480"> 480p
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="resolution" value="720" checked> 720p
                        </label>
                    </div>
                    <div>
                        <label>
                            <input type="radio" name="resolution" value="1080"> 1080p
                        </label>
                    </div>
                    <br>
                    <h4>Output directory</h4>
                    <br>
                    <div><input type="text" name="output-directory" required="required"></div>
                    <br><br>
                    <button type="submit" class="btn btn-default">Download</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>